In [106]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import RidgeClassifier
from sklearn.ensemble import AdaBoostClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

import numpy as np
import pandas as pd

In [107]:
# Load the numerical features from train_dataset.csv into df_train
df = pd.read_csv('train_dataset.csv')

# Load the pre-extracted features from the .npy files into separate arrays
actor1_features = np.load('features_countvec/train_countvec_features_actor_1_name.npy')
actor2_features = np.load('features_countvec/train_countvec_features_actor_2_name.npy')
director_features = np.load('features_countvec/train_countvec_features_director_name.npy')
plot_features = np.load('features_doc2vec/train_doc2vec_features_plot_keywords.npy')
title_features = np.load('features_fasttext/train_fasttext_title_embeddings.npy')

In [108]:
# Concatenate the features
# df = pd.concat((df, pd.DataFrame(actor1_features), pd.DataFrame(actor2_features), pd.DataFrame(director_features), pd.DataFrame(plot_features), pd.DataFrame(title_features)), axis=1)
df.columns = df.columns.astype(str)
df = df.drop(['director_name', 'genres', 'actor_1_name', 'actor_2_name', 'plot_keywords', 'movie_title', 'actor_3_name', 'language', 'country', 'content_rating', 'title_embedding'], axis=1)
# Split the dataset into features (X) and target (y)
X = df.drop('imdb_score_binned', axis=1)
y = df['imdb_score_binned']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1003)
df

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,title_year,actor_2_facebook_likes,movie_facebook_likes,average_degree_centrality,imdb_score_binned
0,1,186,73,28,847,2000,422783777,644348,6458,0,656,1994,886,17000,0.001576,4
1,2,252,97,0,233,654,20433940,78883,1876,8,662,2005,529,0,0.000675,2
2,3,232,117,234,221,12000,371897,36494,13607,2,118,2013,1000,11000,0.003002,2
3,4,297,109,0,145,957,13782838,258078,1757,0,911,1982,163,23000,0.001726,4
4,5,297,171,0,857,16000,313837577,1238746,22342,2,5060,2001,5000,21000,0.001876,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999,3000,161,129,42,49,97,93952276,132048,318,7,203,2009,50,12000,0.000750,2
3000,3001,393,123,2000,471,26000,26903709,312629,37206,0,475,2013,10000,83000,0.003302,4
3001,3002,216,118,473,963,18000,73343413,217480,22517,0,429,2009,1000,21000,0.003302,3
3002,3003,109,95,0,0,227,1060591,9750,231,0,66,2007,4,0,0.000300,3
3003,3004,41,115,399,83,399,44456509,22105,688,1,81,2013,89,14000,0.000525,3

In [109]:
test_df = pd.read_csv('test_dataset.csv')

actor1_features = np.load('features_countvec/test_countvec_features_actor_1_name.npy')
actor2_features = np.load('features_countvec/test_countvec_features_actor_2_name.npy')
director_features = np.load('features_countvec/test_countvec_features_director_name.npy')
plot_features = np.load('features_doc2vec/test_doc2vec_features_plot_keywords.npy')
title_features = np.load('features_fasttext/test_fasttext_title_embeddings.npy')

# test_df = pd.concat((test_df, pd.DataFrame(actor1_features), pd.DataFrame(actor2_features), pd.DataFrame(director_features), pd.DataFrame(plot_features), pd.DataFrame(title_features)), axis=1)
test_df.columns = test_df.columns.astype(str)
test_df = test_df.drop(['director_name', 'genres', 'actor_1_name', 'actor_2_name', 'plot_keywords', 'movie_title', 'actor_3_name', 'language', 'country', 'content_rating', 'title_embedding'], axis=1)

test_df

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,title_year,actor_2_facebook_likes,movie_facebook_likes,average_degree_centrality
0,1,27,118,14,400,2000,2246000,2302,3384,4,20,2015,769,0,0.000375
1,2,339,141,0,404,749,47307550,104301,1948,4,269,2012,463,28000,0.002176
2,3,78,95,89,388,963,37606,31836,2658,0,90,2009,654,0,0.000900
3,4,226,117,0,818,15000,104054514,200359,16828,0,1009,2002,1000,0,0.003452
4,5,97,104,38,690,801,3447339,29517,2667,7,79,2013,727,0,0.000450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,748,179,93,0,766,13000,17096053,134458,15716,2,640,1998,933,5000,0.002777
748,749,393,105,335,911,3000,37516013,128629,8281,0,348,2012,3000,98000,0.001801
749,750,55,117,133,249,687,20966644,29610,1665,0,94,1985,443,0,0.001126
750,751,85,72,0,384,3000,47887943,11634,4480,0,58,2003,455,227,0.000825
751,752,35,87,4,624,2000,19539,4182,6227,1,53,2003,1000,3000,0.002401

In [110]:
# from sklearn.preprocessing import StandardScaler

# # Create a StandardScaler object
# scaler = StandardScaler()

# # Fit the scaler to the training data and transform both datasets
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)
# X_test_scaled = scaler.transform(test_df)

In [111]:
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit the scaler to the training data and transform both datasets
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_test_scaled = scaler.transform(test_df)

In [112]:
# Initialize the Random Forest Classifier
rf = RandomForestClassifier(n_estimators=100, random_state=1003)

# Train the model on the training data
rf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7038269550748752

In [113]:
# Initialize the Naive Bayes classifier
nb = MultinomialNB()

# Train the model on the training data
nb.fit(X_train + abs(X_train.min()), y_train)

# Make predictions on the test data
y_pred = nb.predict(X_test + abs(X_test.min()))

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6339434276206323

In [114]:
# Initialize the Decision Tree classifier
dt = DecisionTreeClassifier(random_state=1003)

# Train the model on the training data
dt.fit(X_train, y_train)

# Make predictions on the test data
y_pred = dt.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.5657237936772047

In [115]:
# Initialize the k-NN classifier with k=40
knn = KNeighborsClassifier(n_neighbors=40)

# Train the model on the training data
knn.fit(X_train, y_train)

# Make predictions on the test data
y_pred = knn.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.64891846921797

In [116]:
# Initialize the SVM classifier
svm = SVC(random_state=1003)

# Train the model on the training data
svm.fit(X_train, y_train)

# Make predictions on the test data
y_pred = svm.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6738768718801996

In [117]:
# Initialize the Neural Network classifier
nn = MLPClassifier(random_state=1003)

# Train the model on the training data
nn.fit(X_train, y_train)

# Make predictions on the test data
y_pred = nn.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.697171381031614

/Users/jennymai/.pyenv/versions/3.12.2/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [118]:
# Initialize the Gradient Boosting classifier
gb = GradientBoostingClassifier(random_state=1003)

# Train the model on the training data
gb.fit(X_train, y_train)

# Make predictions on the test data
y_pred = gb.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7088186356073212

In [119]:
# Initialize the Logistic Regression classifier
lr = LogisticRegression(random_state=1003)

# Train the model on the training data
lr.fit(X_train, y_train)

# Make predictions on the test data
y_pred = lr.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6655574043261231

In [120]:
# Initialize the Ridge Classifier
rc = RidgeClassifier(random_state=1003)

# Train the model on the training data
rc.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rc.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6555740432612313

In [121]:
# Initialize the AdaBoost classifier
ada = AdaBoostClassifier(
    estimator=rf,
    n_estimators=100,
    random_state=1003,
    algorithm='SAMME'
)

# Train the model on the training data
ada.fit(X_train, y_train)

# Make predictions on the test data
y_pred = ada.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7121464226289518

In [122]:
train_accuracy_scores = [
    accuracy_score(y_train, rf.predict(X_train)),  # Random Forest
    accuracy_score(y_train, nb.predict(X_train + abs(X_train.min()))),  # Naive Bayes
    accuracy_score(y_train, dt.predict(X_train)),  # Decision Tree
    accuracy_score(y_train, knn.predict(X_train)),  # k-NN
    accuracy_score(y_train, svm.predict(X_train)),  # SVM
    accuracy_score(y_train, nn.predict(X_train)),  # Neural Network
    accuracy_score(y_train, gb.predict(X_train)),  # Gradient Boosting
    accuracy_score(y_train, lr.predict(X_train)),  # Logistic Regression
    accuracy_score(y_train, rc.predict(X_train)),  # Ridge Classifier
    accuracy_score(y_train, ada.predict(X_train)), # AdaBoost Classifier
]

test_accuracy_scores = [
    accuracy_score(y_test, rf.predict(X_test)),  # Random Forest
    accuracy_score(y_test, nb.predict(X_test + abs(X_test.min()))),  # Naive Bayes
    accuracy_score(y_test, dt.predict(X_test)),  # Decision Tree
    accuracy_score(y_test, knn.predict(X_test)),  # k-NN
    accuracy_score(y_test, svm.predict(X_test)),  # SVM
    accuracy_score(y_test, nn.predict(X_test)),  # Neural Network
    accuracy_score(y_test, gb.predict(X_test)),  # Gradient Boosting
    accuracy_score(y_test, lr.predict(X_test)),  # Logistic Regression
    accuracy_score(y_test, rc.predict(X_test)),  # Ridge Classifier
    accuracy_score(y_test, ada.predict(X_test)), # AdaBoost Classifier
]

# Create a dictionary to store the model names and their accuracies
model_accuracies = {
    "Model": ["Random Forest", "Naive Bayes", "Decision Tree", "k-NN", "SVM", "Neural Network", "Gradient Boosting", "Logistic Regression", "Ridge Classifier", "AdaBoost Classifier"],
    "Train Accuracy": train_accuracy_scores,
    "Test Accuracy": test_accuracy_scores,
}

# Create the DataFrame
df_models = pd.DataFrame(model_accuracies)
df_models

                 Model  Train Accuracy  Test Accuracy
0        Random Forest        1.000000       0.703827
1          Naive Bayes        0.613816       0.633943
2        Decision Tree        1.000000       0.565724
3                 k-NN        0.641698       0.648918
4                  SVM        0.697462       0.673877
5       Neural Network        0.700791       0.697171
6    Gradient Boosting        0.868914       0.708819
7  Logistic Regression        0.668747       0.665557
8     Ridge Classifier        0.665834       0.655574
9  AdaBoost Classifier        1.000000       0.712146

In [123]:
# df = pd.concat((df, pd.DataFrame(actor1_features), pd.DataFrame(actor2_features), pd.DataFrame(director_features), pd.DataFrame(plot_features), pd.DataFrame(title_features)), axis=1)
# df.columns = df.columns.astype(str)

# # Split the dataset into features (X) and target (y)
# X = df.drop('imdb_score_binned', axis=1)
# y = df['imdb_score_binned']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1003)

In [124]:
import os
if os.path.isfile("submission.csv"):
    os.remove("submission.csv")

In [125]:
chosen_model = gb

# Make predictions on the test data
test_pred = chosen_model.predict(X_test_scaled)

# Assuming the test_df has an 'id' column for submission
submission = pd.DataFrame({'id': test_df['id'], 'imdb_score_binned': test_pred})

# Save the submission file
submission.to_csv('submission.csv', index=False)

# Save the submission file

submission.to_csv('submission.csv', index=False)

submission

      id  imdb_score_binned
0      1                  2
1      2                  2
2      3                  2
3      4                  2
4      5                  2
..   ...                ...
747  748                  3
748  749                  2
749  750                  2
750  751                  2
751  752                  2

[752 rows x 2 columns]